.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0;
  min-height: 100vh;
  height: 100vh;
 /* border: 3px solid red; */
  
}

.MainContainer {
  display: flex;
  flex:1;
  flex-direction: row;
 /* border: 3px solid blue;*/
}

.Wrap {
  display: flex;
  flex: 1;
}